* {
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
  }

  .logo {
    height: 160px;
    margin-top: 15px;
  }

  .header-text {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 17px;
    text-align: center;
  }

  .beer {
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .beer-name {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
  }
  
  /* Style the header */
  .header {
    grid-area: header;
    background-color: black;
    padding: 30px;
    text-align: center;
  }
  
  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left left middle middle right right' 
      'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
  } 
  
  .left, .middle, .right {
    padding: 10px;
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
  }

  .nav {
    text-align:center;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    display:inline-block;
}

.nav li {
    display:inline-block;
}

.nav li:hover {
    background-color: yellow;
}

.nav a:hover {
    color: black;
}

.nav a {
    display:inline-block;
    padding:10px;
    color: white;
    text-decoration: none;
}
  
  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: black;
    padding: 10px;
    text-align: center;
  }


  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
  }